.off-canvas-sidebar,.sidebar {
	position:fixed;
	top:0;
	height:100%;
	bottom:0;
	width:260px;
	left:0;
	z-index:9999;
	box-shadow:0 2px 22px 0 rgba(0,0,0,.2),0 2px 30px 0 rgba(0,0,0,.35)
}
.off-canvas-sidebar .sidebar-wrapper,.sidebar .sidebar-wrapper {
	position:relative;
	height:calc(100vh - 75px);
	overflow:auto;
	width:260px;
	z-index:4;
	padding-bottom:100px
}
.off-canvas-sidebar .sidebar-wrapper .dropdown .dropdown-backdrop,.sidebar .sidebar-wrapper .dropdown .dropdown-backdrop {
	display:none!important
}
.off-canvas-sidebar .sidebar-wrapper .navbar-form,.sidebar .sidebar-wrapper .navbar-form {
	border:none
}
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span,.sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span {
	display:inline-block
}
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-normal,.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-normal,.sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-normal,.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-normal {
	margin:0;
	position:relative;
	-webkit-transform:translateX(0);
	transform:translateX(0);
	opacity:1;
	white-space:nowrap;
	display:block;
	line-height:23px;
	z-index:1
}
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon,.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon,.sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon,.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon {
	text-transform:uppercase;
	width:34px;
	margin-right:10px;
	margin-left:0;
	font-size:12px;
	text-align:center;
	line-height:25px;
	position:relative;
	float:left;
	z-index:1;
	display:inherit;
	line-height:24px;
	color:hsla(0,0%,100%,.5)
}
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a i,.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a i,.sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a i,.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a i {
	font-size:17px;
	line-height:20px;
	width:26px
}
.off-canvas-sidebar .sidebar-wrapper [data-toggle=collapse]~div>ul>li.active>a .sidebar-mini-icon,.sidebar .sidebar-wrapper [data-toggle=collapse]~div>ul>li.active>a .sidebar-mini-icon {
	color:#ca4f0c
}
.off-canvas-sidebar .navbar-minimize,.sidebar .navbar-minimize {
	position:absolute;
	right:18px;
	top:2px;
	opacity:1
}
.off-canvas-sidebar .navbar-minimize .btn,.off-canvas-sidebar .navbar-minimize .btn:active,.off-canvas-sidebar .navbar-minimize .btn:focus,.off-canvas-sidebar .navbar-minimize .btn:hover,.sidebar .navbar-minimize .btn,.sidebar .navbar-minimize .btn:active,.sidebar .navbar-minimize .btn:focus,.sidebar .navbar-minimize .btn:hover {
	background-color:transparent!important
}
.off-canvas-sidebar .nav,.sidebar .nav {
	margin-top:20px;
	display:block
}
.off-canvas-sidebar .nav .caret,.sidebar .nav .caret {
	top:14px;
	position:absolute;
	right:10px
}
.off-canvas-sidebar .nav li>a+div .nav li>a,.sidebar .nav li>a+div .nav li>a {
	margin-top:7px
}
.off-canvas-sidebar .nav li>a,.sidebar .nav li>a {
	margin:10px 15px 0;
	border-radius:30px;
	color:#fff;
	display:block;
	text-decoration:none;
	position:relative;
	text-transform:uppercase;
	cursor:pointer;
	font-size:.7142em;
	padding:10px 8px;
	line-height:1.625rem
}
.off-canvas-sidebar .nav li:first-child>a,.sidebar .nav li:first-child>a {
	margin:0 15px
}
.off-canvas-sidebar .nav li:focus:not(.active)>a,.off-canvas-sidebar .nav li:hover:not(.active)>a,.sidebar .nav li:focus:not(.active)>a,.sidebar .nav li:hover:not(.active)>a {
	background-color:hsla(0,0%,100%,.1)
}
.off-canvas-sidebar .nav li:focus:not(.active)>a i,.off-canvas-sidebar .nav li:hover:not(.active)>a i,.sidebar .nav li:focus:not(.active)>a i,.sidebar .nav li:hover:not(.active)>a i {
	color:#fff
}
.off-canvas-sidebar .nav li.active>a:not([data-toggle=collapse]),.sidebar .nav li.active>a:not([data-toggle=collapse]) {
	background-color:#fff;
	box-shadow:0 1px 15px 1px rgba(39,39,39,.1)
}
.off-canvas-sidebar .nav li.active>a[data-toggle=collapse],.sidebar .nav li.active>a[data-toggle=collapse] {
	background-color:hsla(0,0%,100%,.1);
	box-shadow:none;
	color:#fff
}
.off-canvas-sidebar .nav li.active>a[data-toggle=collapse] i,.sidebar .nav li.active>a[data-toggle=collapse] i {
	color:#fff
}
.off-canvas-sidebar .nav li.active>a[data-toggle=collapse]+div .nav .active a,.sidebar .nav li.active>a[data-toggle=collapse]+div .nav .active a {
	background-color:transparent;
	box-shadow:none
}
.off-canvas-sidebar .nav li.active>a[data-toggle=collapse]+div .nav .active a:after,.sidebar .nav li.active>a[data-toggle=collapse]+div .nav .active a:after {
	content:"";
	position:absolute;
	background-color:#fff;
	border-radius:30px;
	box-shadow:0 1px 15px 1px rgba(39,39,39,.1);
	color:#ca4f0c;
	height:44px;
	width:calc(100% - 5px);
	top:0;
	left:2px;
	z-index:0
}
.off-canvas-sidebar .nav p,.sidebar .nav p {
	margin:0;
	line-height:30px;
	position:relative;
	display:block;
	height:auto;
	white-space:nowrap
}
.off-canvas-sidebar .nav i,.sidebar .nav i {
	font-size:20px;
	float:left;
	margin-right:12px;
	line-height:30px;
	width:34px;
	text-align:center;
	color:hsla(0,0%,100%,.5);
	position:relative
}
.off-canvas-sidebar .sidebar-background,.sidebar .sidebar-background {
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
	display:block;
	top:0;
	left:0;
	background-size:cover;
	background-position:50%
}
.off-canvas-sidebar .sidebar-background:after,.sidebar .sidebar-background:after {
	position:absolute;
	z-index:3;
	width:100%;
	height:100%;
	content:"";
	display:block;
	background:#fff;
	opacity:1
}
.off-canvas-sidebar .logo,.sidebar .logo {
	position:relative;
	padding:.5rem .7rem;
	z-index:4
}
.off-canvas-sidebar .logo a.logo-mini,.sidebar .logo a.logo-mini {
	opacity:1;
	float:left;
	width:34px;
	text-align:center;
	margin-left:10px;
	margin-right:12px
}
.off-canvas-sidebar .logo a.logo-normal,.sidebar .logo a.logo-normal {
	display:block;
	opacity:1;
	-webkit-transform:translateZ(0);
	transform:translateZ(0)
}
.off-canvas-sidebar .logo:after,.sidebar .logo:after {
	content:"";
	position:absolute;
	bottom:0;
	right:15px;
	height:1px;
	width:calc(100% - 30px);
	background-color:hsla(0,0%,100%,.5)
}
.off-canvas-sidebar .logo p,.sidebar .logo p {
	float:left;
	font-size:20px;
	margin:10px;
	color:#fff;
	line-height:20px;
	font-family:Helvetica Neue,Helvetica,Arial,sans-serif
}
.off-canvas-sidebar .logo .simple-text,.sidebar .logo .simple-text {
	text-transform:uppercase;
	padding:.5rem 0;
	display:block;
	white-space:nowrap;
	font-size:1em;
	color:#fff;
	text-decoration:none;
	font-weight:400;
	line-height:30px;
	overflow:hidden
}
.off-canvas-sidebar .logo-tim,.sidebar .logo-tim {
	border-radius:50%;
	border:1px solid #333;
	display:block;
	height:61px;
	width:61px;
	float:left;
	overflow:hidden
}
.off-canvas-sidebar .logo-tim img,.sidebar .logo-tim img {
	width:60px;
	height:60px
}
.off-canvas-sidebar:after,.off-canvas-sidebar:before,.sidebar:after,.sidebar:before {
	display:block;
	content:"";
	opacity:1;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0
}
.off-canvas-sidebar:after,.sidebar:after {
	background:#888;
	background:linear-gradient(#888,#000 80%);
	z-index:3
}
.off-canvas-sidebar[data-color=blue]:after,.sidebar[data-color=blue]:after {
	background:#1f7bbb
}
.off-canvas-sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]),.sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]) {
	color:#1f7bbb
}
.off-canvas-sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]) i,.sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]) i {
	color:#1f7bbb
}
.off-canvas-sidebar[data-color=green]:after,.sidebar[data-color=green]:after {
	background:#18ce0f
}
.off-canvas-sidebar[data-color=green] .nav li.active>a:not([data-toggle=collapse]),.sidebar[data-color=green] .nav li.active>a:not([data-toggle=collapse]) {
	color:#18ce0f
}
.off-canvas-sidebar[data-color=green] .nav li.active>a:not([data-toggle=collapse]) i,.sidebar[data-color=green] .nav li.active>a:not([data-toggle=collapse]) i {
	color:#18ce0f
}
.off-canvas-sidebar[data-color=orange]:after,.sidebar[data-color=orange]:after {
	background:#ca4f0c
}
.off-canvas-sidebar[data-color=orange] .nav li.active>a:not([data-toggle=collapse]),.sidebar[data-color=orange] .nav li.active>a:not([data-toggle=collapse]) {
	color:#ca4f0c
}
.off-canvas-sidebar[data-color=orange] .nav li.active>a:not([data-toggle=collapse]) i,.sidebar[data-color=orange] .nav li.active>a:not([data-toggle=collapse]) i {
	color:#ca4f0c
}
.off-canvas-sidebar[data-color=red]:after,.sidebar[data-color=red]:after {
	background:#ff3636
}
.off-canvas-sidebar[data-color=red] .nav li.active>a:not([data-toggle=collapse]),.sidebar[data-color=red] .nav li.active>a:not([data-toggle=collapse]) {
	color:#ff3636
}
.off-canvas-sidebar[data-color=red] .nav li.active>a:not([data-toggle=collapse]) i,.sidebar[data-color=red] .nav li.active>a:not([data-toggle=collapse]) i {
	color:#ff3636
}
.off-canvas-sidebar[data-color=yellow]:after,.sidebar[data-color=yellow]:after {
	background:#ffb236
}
.off-canvas-sidebar[data-color=yellow] .nav li.active>a:not([data-toggle=collapse]),.sidebar[data-color=yellow] .nav li.active>a:not([data-toggle=collapse]) {
	color:#ffb236
}
.off-canvas-sidebar[data-color=yellow] .nav li.active>a:not([data-toggle=collapse]) i,.sidebar[data-color=yellow] .nav li.active>a:not([data-toggle=collapse]) i {
	color:#ffb236
}
.off-canvas-sidebar .user,.sidebar .user {
	padding-bottom:20px;
	margin:20px auto 0;
	position:relative
}
.off-canvas-sidebar .user:after,.sidebar .user:after {
	content:"";
	position:absolute;
	bottom:0;
	right:15px;
	height:1px;
	width:calc(100% - 30px);
	background-color:hsla(0,0%,100%,.5)
}
.off-canvas-sidebar .user .photo,.sidebar .user .photo {
	width:34px;
	height:34px;
	overflow:hidden;
	float:left;
	z-index:5;
	margin-right:10px;
	border-radius:50%;
	margin-left:23px;
	box-shadow:0 10px 25px 0 rgba(0,0,0,.3)
}
.off-canvas-sidebar .user .photo img,.sidebar .user .photo img {
	width:100%
}
.off-canvas-sidebar .user a,.sidebar .user a {
	color:#fff;
	text-decoration:none;
	padding:.5rem 15px;
	white-space:nowrap
}
.off-canvas-sidebar .user .info>a,.sidebar .user .info>a {
	display:block;
	line-height:18px
}
.off-canvas-sidebar .user .info>a>span,.sidebar .user .info>a>span {
	display:block;
	position:relative;
	opacity:1
}
.off-canvas-sidebar .user .info .caret,.sidebar .user .info .caret {
	position:absolute;
	top:8px;
	right:18px
}
.visible-on-sidebar-regular {
	display:inline-block!important
}
.visible-on-sidebar-mini {
	display:none!important
}
.off-canvas-sidebar .nav>li>a,.off-canvas-sidebar .nav>li>a:hover {
	color:#fff
}
.off-canvas-sidebar .nav>li>a:focus {
	background:hsla(0,0%,78.4%,.2)
}
.main-panel {
	position:relative;
	float:right;
	width:calc(100% - 260px);
	background-color:#ebecf1;
	transition:all .5s cubic-bezier(.685,.0473,.346,1)
}
.main-panel>.content {
	padding:0 30px 30px;
	min-height:calc(100vh - 123px);
	margin-top:-30px
}
.main-panel>.navbar {
	margin-bottom:0
}
.main-panel .header {
	margin-bottom:50px
}
.perfect-scrollbar-on .main-panel,.perfect-scrollbar-on .sidebar {
	height:100%;
	max-height:100%
}
.navbar.fixed-top {
	width:calc(100% - 260px);
	z-index:10;
	right:0;
	left:auto
}
@media (max-width:991px) {
	.navbar.fixed-top {
		width:100%
	}
	.navbar.fixed-top [class*=container-] {
		transition:all .5s cubic-bezier(.685,.0473,.346,1)
	}
	.nav-open .fixed-top [class*=container-] {
		-webkit-transform:translate3d(260px,0,0);
		transform:translate3d(260px,0,0)
	}
}
@media (min-width:991px) {
	.main-panel,.sidebar,.sidebar-wrapper {
		transition-property:top,bottom,width;
		transition-duration:.2s,.2s,.35s;
		transition-timing-function:linear,linear,ease;
		-webkit-overflow-scrolling:touch
	}
	.sidebar-mini .visible-on-sidebar-regular {
		display:none!important
	}
	.sidebar-mini .visible-on-sidebar-mini {
		display:inline-block!important
	}
	.sidebar-mini .navbar.fixed-top {
		width:calc(100% - 80px)
	}
	.sidebar-mini .navbar-minimize {
		opacity:0
	}
	.sidebar-mini .sidebar,.sidebar-mini .sidebar .sidebar-wrapper {
		width:80px
	}
	.sidebar-mini .main-panel {
		width:calc(100% - 80px)
	}
	.sidebar-mini .sidebar {
		display:block;
		z-index:1030
	}
	.sidebar-mini .sidebar .logo a.logo-normal {
		opacity:0;
		-webkit-transform:translate3d(-25px,0,0);
		transform:translate3d(-25px,0,0)
	}
	.sidebar-mini .sidebar .sidebar-wrapper .user .info>a>span,.sidebar-mini .sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-normal,.sidebar-mini .sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-normal,.sidebar-mini .sidebar .sidebar-wrapper>.nav li>a p {
		-webkit-transform:translate3d(-25px,0,0);
		transform:translate3d(-25px,0,0);
		opacity:0
	}
	.sidebar-mini .sidebar:hover {
		width:260px
	}
	.sidebar-mini .sidebar:hover .logo a.logo-normal {
		opacity:1;
		-webkit-transform:translateZ(0);
		transform:translateZ(0)
	}
	.sidebar-mini .sidebar:hover .navbar-minimize {
		opacity:1
	}
	.sidebar-mini .sidebar:hover .sidebar-wrapper {
		width:260px
	}
	.sidebar-mini .sidebar:hover .sidebar-wrapper .user .info>a>span,.sidebar-mini .sidebar:hover .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-normal,.sidebar-mini .sidebar:hover .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-normal,.sidebar-mini .sidebar:hover .sidebar-wrapper>.nav li>a p {
		-webkit-transform:translateZ(0);
		transform:translateZ(0);
		opacity:1
	}
}
