.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip__trigger {
	cursor: pointer;
	position: relative;
}

.tooltip__trigger-text {
	display: block;
	padding: 0.85em;
	pointer-events: none;
}

.tooltip__base {
	position: absolute;
	bottom: 2em;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	height: 200px;
	display: flex;
    align-items: center;
    justify-content: center;
	opacity: 0;
	pointer-events: none;
}

.tooltip__content {
	color: #4a4a4a;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 65%;
	padding: 0 1em;
	opacity: 0;
	font-size: 0.85em;
}

.tooltip__shape,
.tooltip__deco {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.tooltip__shape {
	fill: #141514;
}

/* Indivudual styles */
/* Walda */
.tooltip--walda .tooltip__base {
	left: 0;
	bottom: 0.75em;
	position: absolute;
	margin-left: 0;
	width: 250px;
	height: 100px;
	padding: 0 0 0 0.25em;
}

.tooltip--walda .tooltip__trigger-text {
	padding: 1em;
}

.tooltip--walda .tooltip__content {
	margin: 0;
	width: 100%;
	height: 100%;
	align-items: flex-start;
	text-align: left;
	font-size: 0.85em;
	line-height: 2;
	opacity: 1;
	justify-content: flex-start;
}

.tooltip--walda .tooltip__letters span {
	display: inline-block;
	white-space: pre;
	opacity: 0;
}

.tooltip--walda .tooltip__deco {
	width: 4px;
	height: 100%;
	background: #141514;
	transform-origin: 50% 100%;
}

